@using Microsoft.AspNetCore.Components.Authorization
@rendermode InteractiveAuto
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        <strong>Hello, @context.User.Identity?.Name</strong>
        
        @if(UseBffLogout(context))
        {
            <button class="nav-link btn btn-primary" @onclick="e => LogoutUsingBffManagementEndpoint(context)">Log Out</button>
        }
        else
        {
            <form action="/logout" method="post" @formname="logoutForm">
                <AntiforgeryToken />
                <button type="submit" class="nav-link btn btn-link">
                    Log Out
                </button>
            </form>
        }
    </Authorized>
    <NotAuthorized>
        <a href="bff/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>


@code {
        bool UseBffLogout(AuthenticationState context) => 
            BffLogoutUrl(context) != null;

        string? BffLogoutUrl(AuthenticationState context) =>
                context.User.FindFirst("bff:logout_url")?.Value;

        void LogoutUsingBffManagementEndpoint(AuthenticationState context)
        {
            Navigation.NavigateTo(BffLogoutUrl(context)!, forceLoad: true);
        }
}