@page "/"
@inherits LayoutComponentBase

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<AuthorizeView>
    <Authorized>
        <strong>Hello, User!</strong>
        <a href="bff/logout">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="bff/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>